#header{
    height: 70vh;
    background: url("assets/image/header.jpeg");
    background-size: cover;
    background-position: center;
}

.btn-gradient{
    background: linear-gradient( orange, red);
    color: white;
}